@if (templatesService.templates$ | async; as templates) {
  @if (templatesService.isProcessingSomething) {
    <app-loading-spinner></app-loading-spinner>
  } @else {
    @if (!templates.length) {
      <p class="my-3">Brak szablonów 😿</p>
    } @else {
      <div class="row justify-content-start text-break">
        @for (template of templates; track template) {
          @if (template.id) {
            <div class="col-3 form-box rounded-4 m-4 btn btn-close-white">
              <h5 class="fw-light h-25">
                {{ template.name }}
              </h5>
              <h6 class="fw-light h-25">
                {{ template.id }}
              </h6>
              <h4 class="fw-light h-25">
                Liczba pytan: {{ template.questions.length }}
              </h4>
              <h6 class="fw-light h-25">
                {{ template.timestamp | date }}
              </h6>
              <div class="row">
                <a
                  [routerLink]="['/fill-form/template/', template.id]"
                  class="btn btn-white col fw-medium text-nowrap text-primary rounded-4 py-2 px-4 mx-1"
                >
                  Podgląd
                </a>
                <a
                  [routerLink]="['/create-form/template/', template.id]"
                  class="btn btn-white col border fw-medium border-2 border-primary text-nowrap text-primary rounded-4 py-2 px-4 mx-1"
                >
                  Wybierz
                </a>
              </div>
            </div>
          }
        }
      </div>
    }
  }
}
