<form [formGroup]="questionCreator">
  <ng-container formArrayName="questions">
    @for (
      question of questionsInCreator.controls;
      track question;
      let i = $index
    ) {
      <div
        [formGroupName]="i"
        class="d-flex flex-column flex-nowrap justify-content-center"
      >
        <label class="form-label mx-auto" for="question{{ i }}-name">
          Wprowadź pytanie do pracownika
        </label>
        <input
          class="form-control w-50 mb-3 mx-auto"
          formControlName="name"
          id="question{{ i }}-name"
          type="text"
          autocomplete="off"
        />
        <div class="row">
          <div class="col" formArrayName="options">
            @for (
              option of getUserOptions(i).controls;
              track option;
              let u = $index
            ) {
              <div [formGroupName]="u">
                <div class="input-group p-2">
                  <label
                    class="form-control d-flex align-items-center justify-content-center bg-light-subtle"
                    for="q-{{ i }}userText"
                  >
                    #{{ u + 1 }}
                  </label>
                  <textarea
                    [ngClass]="{
                      'bg-danger-subtle':
                        option.get('content')?.errors?.['minlength'] &&
                        option.get('content')?.touched
                    }"
                    class="form-control w-40"
                    formControlName="content"
                    id="content-question{{ i }}-option{{ u }}}"
                    rows="1"
                    type="text"
                  ></textarea>
                  <label
                    class="form-control w-15 d-flex align-items-center justify-content-center bg-light-subtle"
                    for="points{{ i }}-option{{ u }}}"
                  >
                    Punkty
                  </label>
                  <input
                    [ngClass]="{
                      'bg-danger-subtle':
                        option.get('points')?.errors?.['required'] &&
                        option.get('points')?.touched
                    }"
                    class="form-control w-15"
                    formControlName="points"
                    id="points-question{{ i }}-option{{ u }}}"
                    max="10"
                    min="1"
                    oninput="validity.valid||(value='')"
                    placeholder="1-10"
                    type="number"
                  />
                  <button
                    (click)="removeUserOption(i, u)"
                    class="form-control"
                    type="button"
                  >
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </div>
              </div>
            }
          </div>

          <div class="col" formArrayName="supervisorOptions">
            @for (
              option of getSupervisorOptions(i).controls;
              track option;
              let s = $index
            ) {
              <div [formGroupName]="s">
                <div class="input-group p-2">
                  <label
                    class="form-control d-flex align-items-center justify-content-center bg-light-subtle-subtle"
                    for="q-{{ i }}supervisorText"
                    >#{{ s + 1 }}</label
                  >
                  <textarea
                    [ngClass]="{
                      'bg-danger-subtle':
                        option.get('content')?.errors?.['minlength'] &&
                        option.get('content')?.touched
                    }"
                    class="form-control w-40"
                    formControlName="content"
                    id="content-question{{ i }}-option{{ s }}"
                    rows="1"
                    type="text"
                  ></textarea>
                  <label
                    class="form-control w-15 d-flex align-items-center justify-content-center bg-light-subtle"
                    for="points{{ i }}-option{{ s }}"
                  >
                    Punkty
                  </label>
                  <input
                    [ngClass]="{
                      'bg-danger-subtle':
                        option.get('points')?.errors?.['required'] &&
                        option.get('points')?.touched
                    }"
                    class="form-control w-15"
                    formControlName="points"
                    id="points-question{{ i }}-option{{ s }}"
                    max="10"
                    min="1"
                    oninput="validity.valid||(value='')"
                    placeholder="1-10"
                    type="number"
                  />
                  <button
                    (click)="removeSupervisorOption(i, s)"
                    class="form-control"
                    type="button"
                  >
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </div>
              </div>
            }
          </div>
          <!-- Question creator buttons-->
          <div class="row flex-column gap-3">
            <div class="col btn-group-md d-flex justify-content-around">
              <button
                (click)="createUserAnswer(i)"
                class="btn btn-lg mx-3 text-primary"
                type="button"
              >
                Dodaj wariant odpowiedzi użytkownika
              </button>
              <button
                (click)="createSupervisorAnswer(i)"
                class="btn btn-lg mx-3 text-primary"
                type="button"
              >
                Dodaj wariant odpowiedzi przełożonego
              </button>
            </div>

            @if (!showCategorySelector) {
              <button
                (click)="addQuestionCategory(i)"
                class="btn btn-lg text-primary"
                type="button"
              >
                Dodaj kategorię
              </button>
            } @else {
              <button
                (click)="addQuestionCategory(i)"
                class="btn btn-lg text-primary"
                type="button"
              >
                Nie dodawaj kategorii
              </button>

              <ng-select
                class="w-50 mx-auto"
                [items]="categoriesService.categories$ | async"
                bindLabel="text"
                bindValue="id"
                [hideSelected]="true"
                [loading]="categoriesService.isProcessingSomething"
                [typeahead]="categoriesService.searchCategoriesValue"
                formControlName="category"
                placeholder="Wyszukaj kategorię"
              ></ng-select>
            }

            <div class="col my-3 text-center">
              <button
                (click)="removeQuestion(i)"
                class="btn btn-lg btn-danger text-white rounded-4 mx-2"
                type="button"
              >
                Usuń
              </button>
              <button
                (click)="submitQuestion(question.value)"
                [disabled]="
                  question.invalid ||
                  getSupervisorOptions(i).invalid ||
                  getUserOptions(i).invalid ||
                  questionsService.isProcessingSomething
                "
                class="btn btn-lg btn-primary text-white rounded-4 mx-2"
                type="button"
              >
                Zapisz
              </button>
            </div>
          </div>
        </div>
        <!-- Question creator buttons-->
        <hr />
      </div>
    }
  </ng-container>

  <div class="text-center">
    <button
      (click)="createNewQuestion()"
      class="btn btn-lg btn-white border fw-medium border-2 border-primary text-nowrap text-primary rounded-4"
      type="button"
    >
      Utwórz nowe pytanie
    </button>
  </div>
</form>
