<h3>Generator szablonów</h3>

<div class="btn-group btn-group-lg mb-3">
  <button
    (click)="setCurrentView('create')"
    [class.active]="currentView === 'create'"
    class="btn"
  >
    <span>Stwórz własne pytania</span>
  </button>
  <button
    (click)="setCurrentView('createCategory')"
    [class.active]="currentView === 'createCategory'"
    class="btn"
  >
    <span>Dodaj kategorie</span>
  </button>
  <button
    (click)="setCurrentView('collect')"
    [class.active]="currentView === 'collect'"
    class="btn"
  >
    <span>Dodaj istniejące pytania</span>
  </button>
  <button
    (click)="setCurrentView('confirm')"
    [class.active]="currentView === 'confirm'"
    class="btn"
  >
    Zatwierdź szablon
    <b>[{{ templatesService.submittedQuestionsIds$.value.length }}]</b>
  </button>
</div>

@switch (currentView) {
  <!--Create my own question-->
  @case ("create") {
    <app-create-question></app-create-question>
  }
  <!--Create my own question-->

  @case ("createCategory") {
    <app-create-category></app-create-category>
  }

  <!--Collect existing questions-->
  @case ("collect") {
    <app-search-bar [mode]="'question'"></app-search-bar>

    <app-question></app-question>
  }
  <!--Collect existing questions-->

  <!--Create template-->
  @case ("confirm") {
    <form [formGroup]="templateCreator" class="row">
      <div class="col">
        <label class="form-label" for="name">Wprowadź nazwę szablonu:</label>
        <input
          aria-describedby="templateName"
          class="form-control bg-light-subtle"
          formControlName="name"
          id="name"
          required
          type="text"
          autocomplete="off"
        />
        <label for="name" class="form-label">
          Nazwa i zawartość szablonu będą widoczne dla wszystkich.
        </label>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <button
          (click)="saveTemplate()"
          [disabled]="templatesService.isProcessingSomething"
          class="btn btn-lg btn-white text-primary m-3 rounded-4 border border-primary"
          type="button"
        >
          Zapisz szablon
        </button>
      </div>
      <app-question [mode]="'submission'"></app-question>
    </form>
  }
  <!--Create template-->
}
