<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card h-100">
        <img alt="..." class="card-img" src="https://via.placeholder.com/300" />
        <div class="card-body">
          <h3 class="card-title">Witaj,</h3>
          <p class="card-text">
            Znajdujesz się w serwisie, który pomoże Ci w poprawieniu jakości
            Twojej pracy!
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img alt="..." class="card-img" src="https://via.placeholder.com/300" />
        <div class="card-body">
          <h5 class="card-title">Ocena Pracownicza</h5>
          <p class="card-text">Zobacz wyniki oceny pracowniczej.</p>
          <a class="btn btn-primary" href="#">Przejdź do oceny</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img alt="..." class="card-img" src="https://via.placeholder.com/300" />
        <div class="card-body">
          <h5 class="card-title">Raporty</h5>
          <p class="card-text">
            Generuj i przeglądaj raporty dotyczące wyników oceny pracowników.
          </p>
          <a class="btn btn-primary" href="#">Przejdź do raportów</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img alt="..." class="card-img" src="https://via.placeholder.com/300" />
        <div class="card-body">
          <h5 class="card-title">Ustawienia</h5>
          <p class="card-text">
            Dostosuj ustawienia aplikacji do swoich potrzeb.
          </p>
          <a class="btn btn-primary" href="#">Przejdź do ustawień</a>
        </div>
      </div>
    </div>
  </div>
</div>
