<div class="row">
  <div class="col">
    <h1>{{ "homepage.hero_title" | translate }}</h1>
    <h5>{{ "homepage.hero_subtitle" | translate }}</h5>
    <h5 class="my-2">{{ "homepage.get_started_button" | translate }}</h5>
  </div>
  <div class="col-3 d-flex justify-content-end">
    <img
      alt="certumLogo"
      class="img-fluid"
      src="./assets/images/template.png"
    />
  </div>
</div>

<!--<div class="bg-primary-subtle row text-center p-5">-->
<!--  <div class="col d-flex flex-column align-items-center">-->
<!--    <h1>homepage.employee_happiness_prop</h1>-->
<!--    <h3>homepage.employee_happiness"</h3>-->
<!--  </div>-->
<!--  <div class="col d-flex flex-column align-items-center">-->
<!--    <h1>homepage.productivity_prop</h1>-->
<!--    <h3>"homepage.productivity"</h3>-->
<!--  </div>-->
<!--  <div class="col d-flex flex-column align-items-center">-->
<!--    <h1>homepage.saved_money_prop"</h1>-->
<!--    <h3>"homepage.saved_money"</h3>-->
<!--  </div>-->
<!--</div>-->

<div class="row text-center py-5">
  <div class="col d-flex flex-column align-items-center">
    <p>{{ "homepage.footer_website" | translate }}</p>
  </div>

  <div class="col d-flex flex-column align-items-center">
    <p>{{ "homepage.footer_about_us" | translate }}</p>
  </div>
</div>
<p class="text-center text-muted py-3 m-0">
  {{ "homepage.footer_copyright" | translate }}
</p>
