.nav-pills {
  --bs-nav-pills-border-radius: 12px;
  --bs-nav-pills-link-active-bg: #E5F6FC;
  --bs-nav-pills-link-active-color: #00A3E0;
}

.nav-link {
  display: flex;
  align-items: center;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  font-weight: inherit !important;
  line-height: inherit !important;
}