:root {
  --body-font: "Poppins", sans-serif !important;
  --bs-font-sans-serif: "Poppins", sans-serif !important;
}

.spinner-border {
  --bs-spinner-width: 4rem;
  --bs-spinner-height: 4rem;
  --bs-spinner-border-width: 0.50em;
}