<h3>Ankiety</h3>

<div class="btn-group btn-group-lg mb-3">
  <button
    (click)="formsService.changeFormsStatus(Status.All)"
    [class.active]="formsService.formsStatus.value === Status.All"
    class="btn"
  >
    <span>Wszystkie&nbsp;</span>
  </button>

  <button
    (click)="formsService.changeFormsStatus(Status.Finished)"
    [class.active]="formsService.formsStatus.value === Status.Finished"
    class="btn"
  >
    <span>Ukończone&nbsp;</span>
  </button>

  <button
    (click)="formsService.changeFormsStatus(Status.Todo)"
    [class.active]="formsService.formsStatus.value === Status.Todo"
    class="btn"
  >
    <span>Oczekujące&nbsp;</span>
  </button>

  <button
    (click)="formsService.changeFormsStatus(Status.WaitingForStart)"
    [class.active]="formsService.formsStatus.value === Status.WaitingForStart"
    class="btn"
  >
    <span>W trakcie&nbsp;</span>
  </button>
</div>

<app-search-bar [mode]="'form'"></app-search-bar>

<app-form></app-form>
